.container-home {
  display: block;
}
.first-container {
  padding: 50px 50px;
  font-family: "Arimo", sans-serif;
  background: #1e8cbe;
  display: grid;
  border: 1px solid red;
  grid-gap: 20px 10px;
  grid-template-areas:
    "titulo titulo-mensaje titulo-mensaje"
    "description description img-games";
  grid-template-columns: 1fr 1fr auto;
}
.app-container {
  border: 1px solid red;
}

.footer-message1 {
  display: flex;
  justify-content: flex-end;
}
.footer-message2 {
  display: flex;
  justify-content: flex-end;
}
.titulo {
  grid-area: titulo;
  border: 1px solid red;
}
.titulo-mensaje {
  grid-area: titulo-mensaje;
  border: 1px solid red;
}
.description {
  grid-area: description;
  border: 1px solid red;
}
.img-games {
  grid-area: img-games;
  border: 1px solid red;
}
