.header {
  /* font-family: "Source Code Pro", monospace; */
  background: white;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: 1px solid red;
  display: grid;
  color: black;
  font-weight: 500;
  grid-template-columns: 200px 1fr auto;
  position: sticky;
  top: 0;
  z-index: 100;
  /* grid-template-columns: 200px 1fr 200px; */
  /* justify-items: center; */
  /* text-align: center; */
}
.header > div {
  /* font-size: 1.6em; */
  /* min-height: 50px; */
  padding: 1rem 1rem;
}
.logo {
  background: #ff4811;
}
.account {
  display: flex;
  /* padding: auto 10px; */
}
.item-header {
  padding: 0px 15px;
}
@media (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .account {
    justify-content: center;
  }
}
